<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="home">Home</button>
        <button mat-list-item (click)="onViewProfileClick()">View Profile</button>
        <button mat-list-item routerLink="/admin/viewQuizzes">View Quiz Topics</button>
        <button mat-list-item routerLink="/admin/materials">View Materials</button>
        <!-- <button mat-list-item routerLink="/admin/materialUpload">Add Materials</button> -->
        <button mat-list-item routerLink="/admin/revenue">View Revenue</button>
        <button mat-list-item routerLink="/admin/users">View Registered Users</button>
    </mat-action-list>
</mat-card>