<div class="row">

    <mat-card class="example-card col-md-5">

        <mat-card-content (click)="onProfileClick()">
            <img src="../../../../assets/profileimage.jpg" alt="" class="center">
            <h3 style="text-align:center ;"><b>Profile</b></h3>
            <p style="text-align:center;font-weight: lighter;">Click here to view your profile</p>
        </mat-card-content>

    </mat-card>
    <mat-card class="example-card col-md-5">

        <mat-card-content (click)="onQuizTopicsClick()">
            <img src="../../../../assets/exam.png" alt="" class="center">
            <h3 style="text-align:center ;"><b>Quiz Topics</b></h3>
            <p style="text-align:center ; font-weight: lighter;">Click here to view various quiz topics</p>
        </mat-card-content>

    </mat-card>
</div>
<div class="row">

    <mat-card class="example-card col-md-5">

        <mat-card-content (click)="onRevenueClick()">
            <img src="../../../../assets/revenue.png" alt="" class="center">
            <h3 style="text-align:center ;"><b>Revenue</b></h3>
            <p style="text-align:center;font-weight: lighter;">Click here to view your revenue</p>
        </mat-card-content>

    </mat-card>
    <mat-card class="example-card col-md-5">

        <mat-card-content (click)="onRegisteredUsersClick()">
            <img src="../../../../assets/registered.jpg" alt="" class="center">
            <h3 style="text-align:center ;"><b>Registered Users</b></h3>
            <p style="text-align:center;font-weight: lighter;">Click here to view registered users and their quiz scores
            </p>
        </mat-card-content>

    </mat-card>

    <mat-card class="example-card col-md-5">

        <mat-card-content (click)="onMaterialsClick()">
            <img src="../../../../assets/materials.png" alt="" class="center">
            <h3 style="text-align:center ;"><b>Materials</b></h3>
            <p style="text-align:center;font-weight: lighter;">Click here to view materials</p>
        </mat-card-content>

    </mat-card>
</div>