<div class="row">
    
    <mat-card class="example-card col-md-5" >
        
        <mat-card-content (click)="onProfileClick()">
            <img src="../../../../assets/profileimage.jpg" alt=""  class="center">
          <h3 style="text-align:center ;"><b>Profile</b></h3>
          <p style="text-align:center ;font-weight: lighter;">Click here to view your profile</p>
        </mat-card-content>
        
      </mat-card>
      <mat-card class="example-card col-md-5" >
        
        <mat-card-content (click)="onQuizTopicsClick()">
            <img src="../../../../assets/exam.png" alt=""  class="center">
          <h3 style="text-align:center ;"><b>Quiz Topics</b></h3>
          <p style="text-align:center ; font-weight: lighter;">Click here to view various quiz topics</p>
        </mat-card-content>
        
      </mat-card>
    </div>
    <div class="row">
        
        <mat-card class="example-card col-md-5" >
            
            <mat-card-content (click)="onQuizHistoryClick()">
                <img src="../../../../assets/testHistory.jpg" alt=""  class="center">
              <h3 style="text-align:center ;"><b>Quiz History</b></h3>
              <p style="text-align:center;font-weight: lighter;">Click here to view quiz history</p>
            </mat-card-content>
            
          </mat-card>
        </div>