<div class="update col-md-6 offset-md-3 " >
    <h3>Update Profile</h3>
    <!-- {{user | json}} -->
    <form (ngSubmit)="onSubmit()" >

        <div class="form-group" >
            <label>Email</label> 
            <input type="text" class="form-control" [(ngModel)]="user.email" name = "email" disabled>
        </div>
        <div class="form-group" >
            <label>UserName</label> 
            <input type="text" class="form-control" [(ngModel)]="user.username" name = "username">
        </div><br/>
        <div class="form-group">
            <label>PhoneNumber</label>
            <input type="number" class="form-control" [(ngModel)]="user.mobileNo" name="mobileNo">
        </div><br/>
        <!-- <div class="form-group">
            <label>EmailId</label>
            <input type="email" class="form-control" [(ngModel)]="user.email" name="email">
        </div> -->
       <br/>
        <button class="btn btn-success" type="submit">submit</button>
         
    </form>
    </div>