<mat-card>
    <h1>Update Password</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <!-- {{user | json}} -->
                <form (ngSubmit)="onSubmit() " ngNativeValidate>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="w100 pt10" apperance="fill">
                                <mat-label>
                                    Old Password
                                </mat-label>
                                <input type="password" name="password" placeholder="Enter here" [(ngModel)]="oldPass"
                                    matInput />

                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="w100 pt10" apperance="fill">
                                <mat-label>
                                    New Password
                                </mat-label>
                                <input type="password" name="new password" [(ngModel)]="newPass" placeholder="Enter here"
                                    matInput minlength="8" />

                            </mat-form-field>

                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="w100 pt10" apperance="fill">
                                <mat-label>
                                    Confirm Password
                                </mat-label>
                                <input type="password" name="confirm password" [(ngModel)]="confirmPass"
                                    placeholder="Enter here" matInput />

                            </mat-form-field>

                        </div>
                    </div>
                    <div class="container text-center ml10">
                        <button mat-raised-button color="accent" (click)="onSubmit()" type="submit">submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</mat-card>