<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item>Home</button>
        <button mat-list-item (click)="onViewProfileClick()">View profile</button>
        <button mat-list-item routerLink="/admin/viewQuizzes">View quizzes</button>
        <button mat-list-item routerLink="/admin/materials">View materials</button>
        <button mat-list-item routerLink="/admin/materialUpload">Add materials</button>

        <button mat-list-item>View Users</button>
    </mat-action-list>
</mat-card>