<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            Read the instructions of this page carefully
                        </mat-card-title>

                    </mat-card-header>
                    <mat-card-content style="margin-left: 20px;">
                        <h1>{{quiz.title}}</h1>
                        <p>{{quiz.description}}</p>
                        <p>The Price of this test is <b>{{quiz.price}}</b></p>
                        <mat-divider></mat-divider>
                        <br />
                        <h1>Important Instructions</h1>

                        <ul>
                            <li>This quiz is only for practice purpose.</li>



                            <li>You can attempt the quiz any number of time .</li>
                            <li>
                                There are <b>{{ quiz.noOfQuestions }} questions</b> in this
                                quiz.
                            </li>
                            <li>
                                The Maximum Marks Are
                                <b> {{ quiz.maxMarks}} </b>
                            </li>

                            <li>All questions is of MCQ Types.</li>
                        </ul>

                        <mat-divider></mat-divider>
                        <br />
                        <h1>Attempting Quiz</h1>
                        <ul>
                            <li>Click <b>Start Quiz</b> button to start the quiz</li>
                            <li>
                                The time will start the moment you click the Start Test button.
                            </li>
                            <li>
                                You can not resume this quiz, if interrupted due to any reason.
                            </li>
                            <li>Scroll down to move to next question.</li>
                            <li>Click on Submit Quiz button on completion of the quiz.</li>

                        </ul>

                    </mat-card-content>
                    <mat-card-actions class="text-center">
                        <button *ngIf="isRegistered" mat-raised-button color="accent" (click)="startQuiz()">Start Quiz</button>
                    </mat-card-actions>

                    <mat-card-actions class="text-center">
                        <p *ngIf="!isRegistered">Pay INR {{quiz.price}} to register for the test</p>
                        <button *ngIf="!isRegistered" (click)="onClickRegister()" mat-raised-button color="accent">Register to
                            take test</button>
                    </mat-card-actions>

                </mat-card>
            </div>
        </div>
    </div>
</div>